#footer {
    scroll-snap-align: end;
    background: #080808;
    color: #b2b4b4;
    padding: 80px 7vw 40px;
    text-align: center;
}

.footer-logo {
    font-family: "Times New Roman", Times, serif;
    color: #eaebeb;
    font-size: 14px;
    letter-spacing: .45em;
    margin-bottom: 30px;
}

.footer-copy {
    font-size: 10px;
    letter-spacing: .12em;
}
