*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: system-ui, -apple-system, sans-serif;
    overflow-x: hidden;

    /* 白 → 深淵 */
    background: linear-gradient(
        to bottom,
        #eaebeb 0%,
        #b2b4b4 20%,
        #323232 50%,
        #1e1e1e 80%,
        #151515 100%
    );

    color: #000;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}