.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    padding: 20px 40px;

    background: rgba(12, 12, 12, 0.6);
    backdrop-filter: blur(8px);

    color: #ffffff;

    display: flex;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.6s ease;

    z-index: 1000;
}

.header.visible {
    opacity: 1;
}

.header-inner {
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ロゴ */
.logo {
    font-family: "Times New Roman", Times, serif;
    color: #e8e8e8;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 0.6em;

    text-decoration: none;
}

/* ナビ */
.nav a {
    margin-left: 40px;

    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    letter-spacing: 0.25em;

    color: #e8e8e8;
    text-decoration: none;

    transition: opacity 0.3s ease;
}

.nav a:hover {
    opacity: 0.6;
}