#hero {
    color: #eaebeb;
    mix-blend-mode: difference;
    padding-inline: 9vw;
}

.hero-title {
    position: relative;
    font-family: "Times New Roman", Times, serif;
    font-size: clamp(48px, 7.4vw, 112px);
    line-height: 1.1;
    letter-spacing: -.045em;
    font-weight: 400;
    max-width: 1180px;
}

@media(max-width: 768px) {
    #hero { padding-inline: 7vw; }
    .hero-title {
        font-size: clamp(42px, 10.8vw, 80px);
    }
}
